.leftdiv{
    background-color: black;
    min-height: 90vh;
    min-width: 35vh;
}
.rightdiv{
    background-image: url("images/rightbg");
    min-height: 90vh;
    min-width: 173.2vh;
}
.spotnav{
    padding:10px;
    padding-right: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.spotnav:active{
    background-color: grey;
}
.spotnavtext{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:10px;
    font-size: 20px;
    color: white;
}
.container{
    display: flex;
    margin-left: -8px;
    margin-top: -8px;
}
.logoimg{
    padding: 10px;
}
.songs{
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: black;
    margin-left: -8px;
    min-width: 215vh;
}
.songsbtn{
    margin: auto;
    justify-content: center;
}
.songsbtnplay{
    padding-left: 75vh;
}
.songtxt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#SongBar{
    width: 80vw;
}
.icon{
    cursor: pointer;
}
.message{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding: 10px;
    padding-top: 40px;
}
.shorts{
    display: flex;
    padding: 10px;
}
.shortsbtn{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgba(69, 69, 69, 0.897);
    padding: 10px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}
.shortsbtntext{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.message2{
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.cards-container{
    display: flex;
}
.playedcards{
    vertical-align: middle;
    background-color: rgb(43, 43, 43);
    max-width: 210px;
    border-radius: 5px;
    margin: 20px;
}
.playedtext{
    color: white;   
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 20px;
}
.playedtextdes{
    color: rgb(77, 73, 73);
    font-size: 14px;   
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 20px;
}
